.layouts-dashboards-3,
.layouts-dashboards-2,
.layouts-dashboards-1 {
  display: flex;
  justify-content: space-between;
}

.layouts-dashboards-1 .drow {
  display: flex;
  flex-direction: column;
}

.layouts-dashboards-3 .drow:first-child,
.layouts-dashboards-1 .drow:first-child {
  flex: 1 3;
}

.layouts-dashboards-3 .drow:last-child,
.layouts-dashboards-1 .drow:last-child {
  flex: 2 3;
}

.layouts-dashboards-3 .drow > div,
.layouts-dashboards-2 .drow > div,
.layouts-dashboards-1 .drow > div {
  flex: 1;
  margin-right: 1em;
  margin-bottom: 1em;
}

.layouts-dashboards-3.dashboard-reverse,
.layouts-dashboards-1.dashboard-reverse {
  flex-direction: row-reverse;
}

.layouts-dashboards-2 .drow {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.layouts-dashboards-2 .drow > div {
  flex-grow: 1;
}

@media only screen and (max-width: 800px) {
  .layouts-dashboards {
    flex-direction: column;
  }
}
